import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';

// Atoms imports

// Molecules imports

// Organisms imports

// Pages imports

@NgModule({
    declarations: [],
    imports: [CommonModule],
    exports: []
})
export class ComponentsModule { }