<div class="row">
  <mat-toolbar color="primary" class="col-12">
    <span>Users</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [disabled]="mode === EViewType.GRID ? true : null"
      class="example-icon favorite-icon"
      (click)="onViewChage(EViewType.GRID)"
    >
      <mat-icon>view_comfy</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="mode === EViewType.LIST ? true : null"
      class="example-icon"
      (click)="onViewChage(EViewType.LIST)"
    >
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>

  <ng-template let-users #cardTemplate>
    <div class="col-4 mt-3" *ngFor="let user of users">
      <div class="card">
        <header class="card-header">
          <div class="card-image">
            <img [src]="user.picture.large" alt="Placeholder image" />
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</p>
                <p class="subtitle is-6">{{ user.email }}</p>
              </div>
            </div>
          </div>
        </header>
        <div class="card-content">
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
          </p>
        </div>

        <footer class="card-footer p-2">
          <button class="button is-primary mx-1">LIKE</button>
          <button class="button is-link mx-1">SHARE</button>
        </footer>
      </div>
    </div>
  </ng-template>

  <ng-template let-users #listTemplate>
    <mat-list class="col-12">
      <mat-list-item *ngFor="let user of users">
        <img matListAvatar [src]="user.picture.large" />
        <h3 matLine>{{ user.name.title }} {{ user.name.first }} {{ user.name.last }}</h3>
        <p matLine>
          <span>{{ user.email }}</span>
        </p>
      </mat-list-item>
    </mat-list>
  </ng-template>

  <ng-container *ngIf="users$ | async as users; else loading">
    <div class="col-12">
      <bb-users-view class="row" [users]="users.results" [userTemplate]="template"></bb-users-view>
    </div>
  </ng-container>

  <ng-template #loading>
    <bb-loader></bb-loader>
  </ng-template>
</div>
