<div class="grid grid-cols-1">
  <mat-toolbar color="primary">
    <span>trackBy</span>
  </mat-toolbar>
  <div *ngFor="let e of array; trackByProperty: 'id'">{{ e.id }} - {{ e.name }}</div>
  <button (click)="foo()">foo</button>

  <mat-toolbar color="primary">
    <span>Users</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      [disabled]="mode === eViewType.GRID ? true : null"
      class="example-icon favorite-icon"
      (click)="onViewChage(eViewType.GRID)"
    >
      <mat-icon>view_comfy</mat-icon>
    </button>
    <button
      mat-icon-button
      [disabled]="mode === eViewType.LIST ? true : null"
      class="example-icon"
      (click)="onViewChage(eViewType.LIST)"
    >
      <mat-icon>list</mat-icon>
    </button>
  </mat-toolbar>

  <!-- <div class="grid grid-rows-1" *ngFor="let user of users2$ | async">
    {{ user | json }}
  </div> -->

  <input
    class="p-3 rounded-md bg-gray-100 border-2"
    type="text"
    (keyup)="search($event.target.value)"
    placeholder="Search..."
  />
</div>

<ng-template let-users #cardTemplate>
  <mat-card *ngFor="let user of users" class="basis-1/4 bg-neutral-100">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ user.name }}</mat-card-title>
      <mat-card-subtitle>{{ user.createdAt | date: "short" }}</mat-card-subtitle>
    </mat-card-header>
    <img src="https://randomuser.me/api/portraits/med/men/66.jpg" />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
        dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onLike(user)">LIKE</button>
      <button mat-button (click)="onRefresh()">Refresh</button>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template let-users #listTemplate>
  <mat-list class="basis-1">
    <mat-list-item *ngFor="let user of users">
      <img matListAvatar src="https://randomuser.me/api/portraits/med/men/66.jpg" />
      <h3 matLine>{{ user.id }}</h3>
      <h3 matLine>{{ user.name }}</h3>
      <p matLine>
        <span>{{ user.createdAt | date: "short" }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</ng-template>

<!-- <ng-container *ngIf="users$ | async as users; else loading">
  <bb-users-view class="flex flex-wrap gap-4 justify-around" [users]="users" [userTemplate]="template"></bb-users-view>
</ng-container> -->

<ng-container *ngIf="usersFilter$ | async as users; else loading">
  <bb-users-view class="flex flex-wrap gap-4 justify-around" [users]="users" [userTemplate]="template"></bb-users-view>
</ng-container>

<ng-template #loading>
  <bb-loader></bb-loader>
</ng-template>
