<div class="grid grid-cols-1">
  <div class="flex flex-row">
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/bridge">
      Bridge
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/strategy">
      Strategy
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/adapter">
      Model-Adapter
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/ngtemplateoutlet">
      ngTemplateOutlet
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/builder">
      Builder
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/patterns/data-agnostic">
      Data Agnostic Components
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
