// z-index
$z-index-1: 10;
$z-index-2: 20;
$z-index-3: 30;
$z-index-4: 40;
$z-index-5: 50;

// usage: color: pallette(white, base);
$palettes: (
  white: (
    base: #fff,
  ),
  black: (
    base: #000,
  ),
  gray: (
    light: #f2f2f2,
    base: #686868,
    dark: #303030,
  ),
  orange: (
    light: #f8a036,
    base: #f7941d,
    dark: #f28809,
  ),
  blue: (
    light: #5a98d1,
    base: #468ccb,
    dark: #367fc1,
  ),
  green: (
    primary: #8cd600,
    light: #77b300,
    base: #690,
    dark: #77b300,
  ),
  red: (
    light: #ee002b,
    base: #d40026,
    dark: #bb0021,
  ),
);
// @see https://twitter.com/thecodezombie/status/595977653296996354/photo/1
@function palette($palette, $tone: "base") {
  @return map-get(map-get($palettes, $palette), $tone);
}
// other
$base-font-family: "Open Sans", sans-serif;
$base-font-size: 14px !default;
$larger-font-size: 2rem;
$smaller-font-size: 0.6428571428571429rem;
$transition-time: 0.3s;
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
