<div class="container py-4">
  <h3 class="text-xl">Basic form</h3>

  <div class="shadow sm:rounded-md sm:overflow-hidden">
    <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <form [formGroup]="form">
        <bb-form-fullname></bb-form-fullname>

        <div class="grid grid-cols-3 py-3 gap-6">
          <div class="col-span-3 sm:col-span-2">
            <label for="company_website" class="block text-sm font-medium text-gray-700">BirthDate</label>
            <div class="mt-1 rounded-md shadow-sm">
              <input
                type="text"
                formControlName="birthDate"
                class="
                  focus:ring-indigo-500 focus:border-indigo-500
                  flex-1
                  block
                  w-full
                  rounded-none rounded-r-md
                  sm:text-sm
                  border-gray-300
                "
              />
              <bb-validation-message [control]="controls.birthDate"></bb-validation-message>
            </div>
          </div>
        </div>

        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
      </form>

      <ngx-json-viewer [json]="form.value"></ngx-json-viewer>
    </div>
  </div>
</div>
