<h2 mat-dialog-title>Add New Card</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="grid grid-cols-1">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput type="text" formControlName="title" />
        <bb-validation-message [control]="controls.title"></bb-validation-message>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <bb-validation-message [control]="controls.description"></bb-validation-message>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Created At</mat-label>
        <input matInput type="date" formControlName="createdAt" />
        <bb-validation-message [control]="controls.description"></bb-validation-message>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" mat-dialog-close>Cancel</button>
  <button mat-button type="submit" (click)="submitForm()" mat-dialog-close [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
