<div class="app">
  <div class="dashboard">
    <!-- HEADER -->
    <header>
      <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="container navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
              Home
            </a>

            <a class="navbar-item" routerLinkActive="active" routerLink="/dc">Dynamic Components</a>

            <a class="navbar-item" routerLinkActive="active" routerLink="/users">Users</a>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN -->
    <section class="section">
      <main class="container">
        <!-- <button (click)="onClick()">loader</button> -->
        <router-outlet></router-outlet>
      </main>
    </section>
  </div>
</div>
