<div class="grid grid-cols-1">
  <mat-toolbar color="primary">
    <span>Cards</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <ng-container *ngIf="cards$ | async as cards; else loading">
    <l9-card-view [cards]="cards" (delete)="onCardDelete($event)" (edit)="onEditCard($event)">
      <button
        mat-button
        class="rounded-lg flex items-center justify-center bg-green-300 shadow-lg"
        color="primary"
        (click)="onAdd()"
      >
        +
      </button>
    </l9-card-view>
  </ng-container>

  <ng-template #loading>
    <bb-loader></bb-loader>
  </ng-template>
</div>
