<div class="row">
  <mat-toolbar color="primary" class="col-12">
    <span>Cards</span>
    <span class="example-spacer"></span>
  </mat-toolbar>

  <ng-container *ngIf="cards$ | async as cards; else loading">
    <div class="col-12">
      <l9-card-view class="row" [cards]="cards" (delete)="onCardDelete($event)" (edit)="onEditCard($event)">
        <summary class="col-4 border border-info d-flex justify-content-center align-items-center" (click)="onAdd()">
          +
        </summary>
      </l9-card-view>
    </div>
  </ng-container>

  <ng-template #loading>
    <bb-loader></bb-loader>
  </ng-template>
</div>
