<h1>Open Console</h1>

<button #imageButton>change image</button>
<div class="row">
  <bb-random-image [image]="randomImage$ | async"></bb-random-image>
</div>

<hr />
<!-- <div class="row createTwoStreamsFromOne">
  <div class="col-6">
    <mat-spinner *ngIf="!(completed$ | async)"></mat-spinner>
    <div *ngIf="completed$ | async as completed">{{ completed | json }}</div>
  </div>
  <div class="col-6">
    <mat-spinner *ngIf="!(inProgress$ | async)"></mat-spinner>
    <div *ngIf="inProgress$ | async as inProgress">{{ inProgress | json }}</div>
  </div>
</div> -->

<button #button>click</button>

<hr />
<h1>Errors</h1>
<div class="container">
  <button mat-raised-button (click)="fireClientError(null)">Client Error</button>
  <button mat-raised-button (click)="fireServerError()">Server Error</button>
</div>

<hr />

<l9-chart-line></l9-chart-line>
