<mat-card>
  <mat-card-header>
    <mat-card-title>Basic form</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" />
            <bb-validation-message [control]="controls.firstName"></bb-validation-message>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" />
            <bb-validation-message [control]="controls.lastName"></bb-validation-message>
          </mat-form-field>
        </div>
      </div>

      <button class="button" type="submit">Submit</button>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button (click)="reset()">Reset</button>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>

<hr />
<mat-card>
  <mat-card-content>
    <ngx-json-viewer [json]="form.value"></ngx-json-viewer>
  </mat-card-content>
</mat-card>
