<ng-container [formGroup]="form">
  <div class="row">
    <div class="col-12">
      <label>first Name</label>
      <input type="text" formControlName="firstName" />
      <l9-validation-message [control]="controls.firstName"></l9-validation-message>
    </div>

    <div class="col-12">
      <label>last Name</label>
      <input type="text" formControlName="lastName" />
      <l9-validation-message [control]="controls.lastName"></l9-validation-message>
    </div>

    <div class="col-12">
      <button (click)="reset()">Reset</button>
      <button (click)="onSubmit()">Submit</button>
    </div>
  </div>
</ng-container>
