<div
  class="
    h-screen
    dark:bg-gray-900
    bg-gray-300
    transition-all
    duration-300
    space-y-2
    sm:relative
    top-0
    left-0
    flex flex-col
    justify-between
  "
  [ngClass]="{ 'w-24': !fullSidebar, 'w-64': fullSidebar }"
>
  <div class="px-4 space-y-2">
    <h1 class="text-white font-black py-4 text-2xl px-4 uppercase" routerLink="/">Logo</h1>
    <!-- SideBar Toggle -->
    <button
      class="hidden sm:block focus:outline-none absolute -right-2.5 top-10 bg-gray-900 rounded-full shadow-md"
      (click)="fullSidebar = !fullSidebar"
    >
      <mat-icon aria-hidden="false" class="text-base text-gray-200" aria-label="Example home icon">
        {{ fullSidebar ? "chevron_left" : "chevron_right" }}
      </mat-icon>
    </button>

    <!-- Home -->
    <div
      class="nav-item"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
      routerLinkActive="active"
      routerLink="/"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Dashboard</h1>
    </div>

    <!-- Forms -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/forms/basic"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">checklist</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Forms</h1>
    </div>

    <!-- Dynamic Components -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/dc"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">source</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Dynamic Components</h1>
    </div>

    <!-- Users -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/users"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">people_outline</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Users</h1>
    </div>

    <!-- Cards -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/cards"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">sd_card</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Cards</h1>
    </div>

    <!-- RxJS -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/rx"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">egg</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">RxJS</h1>
    </div>

    <!-- Angular Patterns -->
    <div class="relative">
      <div
        class="justify-between nav-item"
        routerLinkActive="active"
        routerLink="/patterns/bridge"
        [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
        (click)="toggle('patterns')"
      >
        <div class="flex items-center space-x-2">
          <mat-icon aria-hidden="false" aria-label="Example home icon">texture</mat-icon>
          <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Angular Patterns</h1>
        </div>
        <div class="flex items-center space-x-2" *ngIf="fullSidebar">
          <div
            [ngClass]="{ 'sm:hidden': !fullSidebar }"
            class="w-5 h-5 p-1 bg-green-400 rounded-sm text-sm leading-3 text-center text-gray-900"
          >
            4
          </div>
          <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_drop_down</mat-icon>
        </div>
      </div>

      <!-- Dropdown content -->
      <div
        [ngClass]="{ expandedClass: fullSidebar, shrinkedClass: !fullSidebar }"
        class="text-gray-400 space-y-3 border-l border-gray-400 ml-4 pl-6 w-auto"
        *ngIf="menuState.get('patterns')"
      >
        <div class="hover:text-gray-200 cursor-pointer p-2" routerLinkActive="active" routerLink="/patterns/bridge">
          Bridge
        </div>
        <div class="hover:text-gray-200 cursor-pointer p-2" routerLinkActive="active" routerLink="/patterns/strategy">
          Strategy
        </div>
        <div class="hover:text-gray-200 cursor-pointer p-2" routerLinkActive="active" routerLink="/patterns/adapter">
          Model-Adapter
        </div>
        <div
          class="hover:text-gray-200 cursor-pointer p-2"
          routerLinkActive="active"
          routerLink="/patterns/ngtemplateoutlet"
        >
          ngTemplateOutlet
        </div>
      </div>
    </div>

    <!-- Angular Unit Tests -->
    <div
      class="nav-item"
      routerLinkActive="active"
      routerLink="/unit-tests"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
    >
      <mat-icon aria-hidden="false" aria-label="Example home icon">ac_unit</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Angular Unit Tests</h1>
    </div>
  </div>

  <div class="px-4 pb-6 space-y-2">
    <!-- Logout -->
    <div class="nav-item" [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }">
      <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
      <h1 [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">Logout</h1>
    </div>

    <!-- Theme Switch -->
    <div
      class="nav-item justify-between"
      [ngClass]="{ 'sm:justify-center': !fullSidebar, 'justify-start': fullSidebar }"
      (click)="onThemeToggle()"
    >
      <div class="flex">
        <mat-icon aria-hidden="false" aria-label="Example home icon">
          {{ mode === "dark" ? "dark_mode" : "light_mode" }}
        </mat-icon>

        <h1 class="pl-2" [ngClass]="{ 'sm:hidden': !fullSidebar, show: fullSidebar }">
          {{ mode === "dark" ? "Dark" : "Light" }} mode
        </h1>
      </div>
    </div>
  </div>
</div>
