<mat-card>
  <mat-card-content>
    <form [formGroup]="form" novalidate>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput type="text" formControlName="userName" />
            <bb-validation-message [control]="controls.userName"></bb-validation-message>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-toolbar>
            <span>Time Ranges</span>
          </mat-toolbar>
          <ng-container formArrayName="timeRanges">
            <div *ngFor="let _ of timeRangeControls.controls; let i = index" class="row" [formGroupName]="i">
              <!-- Start Date -->
              <div class="col-5">
                <mat-form-field>
                  <mat-label>Start Date</mat-label>
                  <input matInput type="date" formControlName="startDate" />
                  <bb-validation-message [control]="timeRangeControls.at(i).get('startDate')"></bb-validation-message>
                </mat-form-field>
              </div>

              <!-- End Date -->
              <div class="col-5">
                <mat-form-field>
                  <mat-label>End Date</mat-label>
                  <input matInput type="date" formControlName="endDate" />
                  <bb-validation-message [control]="timeRangeControls.at(i).get('endDate')"></bb-validation-message>
                </mat-form-field>
              </div>

              <div class="col-2">
                <mat-icon aria-hidden="false" (click)="deleteTimeRange(i)">delete</mat-icon>
              </div>
            </div>

            <div class="col-12">
              <mat-icon aria-hidden="false" (click)="addNewTimeRange()">add</mat-icon>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-card-actions>
</mat-card>

<hr />
<mat-card>
  <mat-card-content>
    <ngx-json-viewer [json]="form.value"></ngx-json-viewer>
  </mat-card-content>
</mat-card>
