//The available themes are: indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";

@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "styles/variables";

html {
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

body {
  background: palette(gray, light);
}

a,
.btn-link {
  display: inline-block;
  color: palette(blue, base);
  transition: color 0.2s ease;

  &:hover {
    color: palette(gray, dark);
    text-decoration: none;
  }
}

//TYPOGRAPHY
h1 {
  font-size: 3.5714285714285716rem;
}
h2 {
  font-size: 2.857142857142857rem;
}
h3 {
  font-size: 1.4285714285714286rem;
}
h4,
h5 {
  font-weight: 600;
}
h4 {
  font-size: 1.2857142857142858rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h6 {
  font-size: 0.8571428571428571rem;
  font-weight: 300;
}

p {
  line-height: 1.65;
}

mark,
.mark {
  text-transform: uppercase;
  color: palette(white, base);
  border-radius: 2px;
  padding: 0 4px;
  font-weight: 700;
  background: palette(green, primary);
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

dt,
dd {
  line-height: 1.5;
}

dd {
  margin-left: 0;
}

//HELPERS
.bg-wrapper {
  background: palette(white, base);
  box-shadow: $box-shadow;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid palette(gray, light);
}

mat-icon {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}

/*********************
        HEADER
*********************/

.navbar-brand {
  width: 200px;
  margin-right: 2rem;

  a {
    vertical-align: 0.1875rem;
  }

  img {
    max-width: 100%;
  }
}

header {
  position: relative;
  flex-direction: row;
  padding: 0;
  margin: 0;
  background-color: palette(gray, dark);
  color: palette(white, base);
  flex: 0 0 auto;

  .navbar-nav {
    margin-right: 2rem;
    flex-direction: row;
    align-items: center;
  }

  .nav-link,
  .nav-link:focus {
    display: inline-block;
    position: relative;
    min-width: 130px;
    line-height: 30px;
    text-align: center;
    color: palette(white, base);
    text-transform: uppercase;

    &:hover {
      background: palette(gray, base);
    }

    &.active {
      background: palette(green, base);

      &:hover {
        background: palette(green, dark);
      }
    }
  }
}

/*********************
        MAIN
*********************/
.app,
.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0;
  }
}
