@charset "UTF-8";
//The available tдhemes are: indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';

@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/badge';
@import '~perfect-scrollbar/css/perfect-scrollbar';
@import 'styles/variables';


html {
  display: flex;
  flex-direction: column
}

a {
  color: palette(blue, base);
  transition: color .2s ease;

  &:hover {
    color: palette(gray, "900");
    text-decoration: none;
  }
}

mat-icon {
  display: inline-block;
  margin-top: -2px;
  vertical-align: middle;
}

.breadcrumb {
  position: relative;
  border-radius: 0;
  background: palette(gray, base);
  border-bottom: 1px solid palette(gray, "100");

  a {
    color: palette(gray, "700");

    &:hover {
      color: palette(blue, base);
    }
  }
}

.app-footer {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 1rem;
  color: palette(gray, "700");
  background: palette(gray, base);
  border-top: 1px solid palette(gray, "100");

  flex: 0 0 50px
}

.main .container-fluid {
  padding: 0 30px
}

header {
  position: relative;
  flex-direction: row;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: palette(white, base);
  border-bottom: 1px solid palette(gray, "100");
  flex: 0 0 55px;

  .nav-item {
    position: relative;
    min-width: 50px;
    margin: 0;
    text-align: center
  }
}

.navbar-brand {
  min-width: 150px;

  a {
    vertical-align: 0.1875rem;
  }

  img {
    height: auto;
  }

  .navbar-brand-minimized {
    display: none
  }
}

.navbar-nav {
  flex-direction: row;
  align-items: center;
  font-size: .8rem;

  .nav-link {
    color: palette(gray, "300");

    &.active {
      color: palette(gray, "900");

      &:hover,
      &:focus {
        color: palette(blue, base)
      }
    }
    &:focus,
    &:hover {
      color: palette(gray, "900")
    }
  }
}

.sidebar {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: palette(white, base);
  background: palette(gray, "900");

  .mat-icon {
    line-height: 24px;
    vertical-align: -1px;
  }

  .nav {
     width: 200px;
     -ms-flex-direction: column;
     flex-direction: column;
     min-height: 100%;
     padding: 0
  }

  .nav-title {
    padding: .75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: palette(gray, "100");
    text-transform: uppercase
  }

  .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out
  }

  .nav-link {
    display: block;
    padding: .75rem 1rem;
    color: palette(white, base);
    text-decoration: none;
    background: 0 0;
    transition: all .2s ease;

    .nav-icon {
      display: inline-block;
      width: 1.09375rem;
      margin: 0 .5rem 0 0;
      font-size: .875rem;
      color: palette(gray, "300");
      text-align: center
    }

    &.active {
      color: palette(white, base);
      background: palette(gray, "700");

      .nav-icon {
        color: palette(green, base)
      }
    }

    &:hover {
      color: palette(white, base);
      background: palette(green, base);

      .nav-icon {
        color: palette(white, base)
      }
    }

    .badge {
      position: absolute;
      right: 1rem;
      top: -.3rem;
      background-color: palette(orange, base);
    }
  }
}

.sidebar-nav {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  width: 200px
}

.sidebar-lg-show.sidebar-fixed .app-footer {
  margin-left:200px
}

.sidebar-lg-show.sidebar-fixed .app-footer,
.sidebar-lg-show.sidebar-fixed .main {
  margin-left: 200px;
}

.app,
.dashboard {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.app-body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main {
    flex: 1;
    min-width: 0
  }

  .aside-menu {
    flex: 0 0 250px
  }
}

.header-fixed {

  header {
    position: fixed;
    z-index: 1020;
    width: 100%;
  }

  .app-body {
    margin-top: 55px
  }
}

.sidebar-fixed .sidebar {
  position: fixed;
  z-index: 1019;
  width: 200px;
  height: 100vh
}

.sidebar-fixed header+.app-body .sidebar {
  height: calc(100vh - 55px)
}
