//The available themes are: indigo-pink, deeppurple-amber, purple-green and pink-bluegrey.
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
