<mat-tab-group>
  <mat-tab label="Basic form">
    <bb-basic-form [data]="basicForm$ | async"></bb-basic-form>
  </mat-tab>
  <mat-tab label="Nested form Directive">
    <bb-nested-form-directive></bb-nested-form-directive>
  </mat-tab>
  <mat-tab label="Nested form">
    <bb-nested-form></bb-nested-form>
  </mat-tab>
  <mat-tab label="Dynamic form">
    <bb-dynamic-form></bb-dynamic-form>
  </mat-tab>
  <mat-tab label="ControlValueAccessor">
    <bb-custom-field-form [data]="customFieldForm$ | async"></bb-custom-field-form>
  </mat-tab>
</mat-tab-group>
