<div class="grid grid-cols-1">
  <div class="flex flex-row">
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/basic">
      Basic form
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/nested">
      Nested form
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/formgroupdirective">
      Nested form (FormGroupDirective)
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/dynamic">
      Dynamic form
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/controlValueAccessor">
      ControlValueAccessor
    </button>
    <button class="flex-auto py-2 px-4 bg-slate-200" routerLinkActive="active" routerLink="/forms/reusableFormGroup">
      Reusable Form Group
    </button>
  </div>
</div>

<router-outlet></router-outlet>
