<ng-container [formGroup]="form">
  <div class="grid grid-cols-3 py-3 gap-6">
    <div class="col-span-3 sm:col-span-2">
      <label for="company_website" class="block text-sm font-medium text-gray-700">Full name</label>
      <div class="mt-1 rounded-md shadow-sm">
        <input
          type="text"
          formControlName="fullname"
          class="
            focus:ring-indigo-500 focus:border-indigo-500
            flex-1
            block
            w-full
            rounded-none rounded-r-md
            sm:text-sm
            border-gray-300
          "
        />
        <bb-validation-message [control]="controls.fullname"></bb-validation-message>
      </div>
    </div>
  </div>
</ng-container>
